.InputTask {
  display: grid;
  grid-template-columns: 1fr 55px 55px;
  margin-bottom: 15px;
  background: #eae8e8;
  border-radius: 5px;
  padding-right: 5px;

  &Label {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 12px 15px;
    cursor: pointer;
  }

  &Checkbox {
    width: 20px;
    height: 20px;
  }

  &Title {
    padding: 5px;
    line-height: 1.2;
  }

  &EditTitle {
    font: 1rem/1.4 'Roboto', sans-serif;
    border: none;
    padding: 5px;
    background: none;
    box-shadow: 0 4px 0 -3px;
  }

  &Edited, &Removed, &Save {
    display: block;
    height: 100%;
    border: none;
    background: none no-repeat center center;
    cursor: pointer;
    padding: 0;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.6;
    }
  }

  &Edited {
    background-image: url("./src/views/images/edit.svg");
  }

  &Removed {
    background-image: url("./src/views/images/trash.svg");
  }

  &Save {
    background-image: url("./src/views/images/check.svg");
  }

}